body{
  background-color: black;
}
.card{
  position: relative;
  display: block;
  margin:0 auto;
  padding: 0;
  max-width:600px;
  border-radius: 10px;
  background-color: #eee;
  align-items: center;
  justify-content: center;
}
.head{
  position: relative;
  margin:5px;
  border-bottom: 1px solid #bbb;
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.head img{
  width: 50px;
  height:50px;
  margin:10px;
  background-color: white;
  border:3px solid green;
  border-radius: 40px;
}
.head div{
  font-size: 20px;
  font-weight: bold;
}
.body{
  margin: 0 auto;
  padding: 0;
  max-width: 590px;
}
.body img{
  max-width: 590px;
  margin: 0 auto;
  height: auto;
}
.foot {
  position: relative;
  display: block;
}
.counter{
  display:flex;
  flex-wrap: wrap;
  padding-left: 10px;
  align-items: center;
  width: 600px;
  border-bottom: 1px solid #bbb;

}
.counter img{
  width: 20px;
  height: 20px;
}
.counter p{
  align-items: center;
  margin-top: 10px;
 
}
.opinion{
  display:flex;
  flex-wrap: wrap;
  padding-left: 10px;
  align-items: center;


}
.opinion>p{
  width: 33%;
  margin-top: 5px;
  text-align: center;

  border-radius: 5px;
}




