	.navbar{
			margin:0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: #666;
		}
		.navlogo{
      font-size: 40px;
      margin-left: 30px;
			font-family: 'Brush Script MT', cursive;
		}
		.navlist{
			margin:0;
      padding: 0;
      margin-left: 30px;
		}
		.navlist ul{
			margin: 0;
			padding: 0;
			overflow: hidden;
			list-style-type:none;
		}
		.navlist ul li{
			float: left;
		}
		.navlist ul li a{
			display: block;
			color: black;
			text-decoration: none;
			padding: 14px 16px;
		}
		.navlist ul li a:hover:not(.active) {
           color:white;
           background-color: #333;
           border-radius: 10px;
       }
       .navicon{
       	margin:0;
       	padding: 0;
       	border:2px solid #aaa;
       	display: none;

       }
       .navicon>div{
       	margin: 5px;
       	border:1px solid white;
       	width: 30px;
       }
       .navicon:hover{
       	background-color: #444;
       }
        .tg{
        	display: none;
       	background-color: #888;
       }

       .tg ul{
       	display: block;
       	list-style-type: none;
       	overflow: hidden;
       	margin:0 auto;
       	padding: 0;
       }
      .tg ul li{
       	display: block;
       }
      .tg ul li a{
       	    display: block;
			color: black;
			width: 100%;
			text-align: center;
			text-decoration: none;
			padding: 14px 16px;
       }
      .tg ul li a:hover:not(.active) {
           color:white;
           background-color: #333;
           border-radius: 10px;
       }
       
      @media screen and (max-width: 600px) {
      	.navicon,.tg{
      		display: block;
      	}
      	.navlist  {
      		display: none;
      	}
  
     }